{{#if theme_settings.halo_top_page_promotion}} {{> components/halothemes/top-page-promotion}} {{/if}}
<header class="header" role="banner">
    <div class="header-top">        
        <div id="st-trigger-effects" class="visible-sm visible-xs">
            <a data-effect="st-effect-1" href="javascript:void(0);">&nbsp;<svg><use xlink:href="#icon-trigger-bars" /></svg></a>
            <a class="close-canvas" href="javascript:void(0);"><svg><use xlink:href="#icon-close"></use></svg></a>
        </div>
        <div class="header-logo-mobile-wrapper">
            <div class="header-logo-mobile">
                {{> components/common/store-logo}}
            </div>
        </div>
        <div class="header-left">
            {{> components/common/navigation}}
        </div>
        <div class="header-right">
            <div class="right-bottom">
                <a class="search-toggle">
                    <svg>
                        <use xlink:href="#icon-close"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#icon-search"></use>
                    </svg>
                </a>
                
                {{#if settings.gift_certificates_enabled}}
                <div class="gift_certificates-link hidden-xs hidden-sm">
                    <a href="{{urls.gift_certificate.purchase}}"><span>{{lang 'common.gift_cert'}}</span></a>
                </div>
                {{/if}} 
                <div class="wishlist-link hidden-xs hidden-sm">
                    <a href="/contact-us/"><span>Contact us</span></a>
                </div>
                <div id="top-cart" class="top-cart">
                    <a data-cart-preview href="javascript:void(0);">
                        <span class="hidden-xs hidden-sm">{{lang 'common.cart'}}</span><i class="icon-cart"><svg><use xlink:href="#my-cart-icon"></use></svg></i><span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{cart.quantity}}</span>
                    </a>
                    <div id="cart-preview-dropdown">
                        <div class="triangle-with-shadow"></div>
                        <div class="cart-preview-inner">
                            {{> components/common/cart-preview}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!-- <div class="header-center">
          <p><b>Please note, all orders placed between Friday 3/26 through Sunday 4/4 will be shipped out on Monday 4/5</b></p>
        </div> -->
    </div>
    <div class="no-overflow">
        <div class="header-bottom">
            {{#if page_type '===' 'default'}}
            <h1 class="header-logo">
            {{> components/common/store-logo}}
            </h1> {{else}}
            <div class="header-logo">
                {{> components/common/store-logo}}
            </div>
            {{/if}}
        </div>
        <div class="quickSearch">
            {{> components/common/quick-search}}
        </div>
        <div class="navPages-container" id="menu" data-menu>
            <div class="sticky-logo">
                <a href="{{urls.home}}">
                    <img class="stick-logo-image" src="https://cdn11.bigcommerce.com/s-1733j9j7qs/images/stencil/100x100/mefoar-final-_1539209486__96610.original.png" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
                </a>
            </div>
            <div class="container">
                {{> components/common/navigation-menu}}
            </div>
        </div>
    </div>
</header>
{{#if theme_settings.bigcommerce_banners }} {{#if banners.top}}
<div class="banners" data-banner-location="top">
    <div class="banner">
        {{{limit banners.top 1}}}
    </div>
</div>
{{/if}} {{/if}}
