<nav class="navUser">
    <ul>


        {{> components/common/currency-selector}}
        {{#if customer.store_credit.value '>' 0}}
        <li class="hidden-xs hidden-sm" id="storeCredit-toggle">
            <a class="navUser-action--storeCredit" data-dropdown="storeCredit-dropdown" data-options="align:bottom" href="{{urls.cart}}">
                <span class="navUser-action-divider">{{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}</span>
            </a>
            <div class="dropdown-menu" id="storeCredit-dropdown" data-dropdown-content aria-hidden="true">
                <div class="triangle-with-shadow"></div>
                {{{lang 'common.store_credit' store_credit=customer.store_credit.formatted}}}
            </div>
        </li>
        {{/if}}
    
        {{#if customer}}

        {{else}} 
        <li class="account-link hidden-xs hidden-sm">
            <a class="navUser-action has-dropdown" href="#" data-dropdown="currencySelection" aria-controls="currencySelection" aria-expanded="false">My Mefoar<i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu" id="currencySelection" data-dropdown-content="" aria-hidden="true" tabindex="-1" style="position: absolute; left: -99999px; top: 37.5px;">
                <div class="triangle-with-shadow"></div>
                <li class="dropdown-menu-item">
                    <a href="/login.php?action=create_account"><span>Register</span></a>
                </li>
                <li class="dropdown-menu-item">
                    <a href="/login.php" data-reveal-id="halo-login-popup"><span>Login</span></a>
                </li>
                {{#if settings.show_wishlist}}
                <li class="dropdown-menu-item">
                    <a href="{{urls.account.wishlists.all}}" data-reveal-id="halo-login-popup"><span>{{lang 'account.wishlists.heading'}}</span></a>
                </li>
                {{/if}}
            </ul>
        </li>
        {{/if}}
        
        {{#if customer}}
        <li id="accountDropdown" class="hidden-xs hidden-sm">
            {{#if settings.account_creation_enabled}}
                {{#if customer}}
                <a class="navUser-action has-dropdown" href="#" data-dropdown="accountSelection" aria-controls="accountSelection" aria-expanded="false"><span>{{lang 'Helo,'}} <strong>{{customer.name}}. </strong></span><i class="fa fa-angle-down"></i></a>
                {{/if}}
            {{/if}}
            <ul class="dropdown-menu" id="accountSelection" data-dropdown-content aria-hidden="true" tabindex="-1">
                <div class="triangle-with-shadow"></div>
                <li><a href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a></li>
                {{#if settings.returns_enabled}}
                <li><a href="{{urls.account.returns}}">{{lang 'account.nav.returns'}}</a></li>
                {{/if}}
                <li><a href="{{urls.account.inbox}}">{{lang 'account.mobile_nav.messages'}}</a></li>
                <li><a href="{{urls.account.addresses}}">{{lang 'account.nav.addresses'}}</a></li>
                <li><a href="{{urls.account.recent_items}}">{{lang 'account.nav.recently_viewed'}}</a></li>
               {{#if settings.show_wishlist}}
                <li><a href="{{urls.account.wishlists.all}}">{{lang 'account.wishlists.heading'}}</a></li>
               {{/if}}

                <li><a href="{{urls.account.details}}">{{lang 'account.nav.settings'}}</a></li>
            </ul>
        </li>
        <li class="hidden-xs hidden-sm"><a href="{{urls.auth.logout}}"><span>{{lang 'common.logout'}}</span></a></li>
        {{else}} 

        {{/if}}

        <li id="mobileAccountSidebar" class="hidden-md hidden-lg"><a data-effect="st-effect-2" href="javascript:void(0);"><i class="icon-user"><svg><use xlink:href="#icon-user"></use></svg></i></li>

    </ul>
</nav>
