<section id="homeBottomCustomBlock" class="module-wrapper {{#if theme_settings.halothemes_lazy_loading_effect}}wow fadeIn{{/if}}">
    <div class="container">
        <div class="fluid-grid">
            <!-- Begin Banner #1 -->
            <div class="banner-item">
                <a href="/behind-the-scenes/">
                    <img src="/product_images/uploaded_images/570-compressor.jpg" alt="Mefoar">
                    <div class="hover_collection"></div>
                </a>
                <div class="collection-title">
                    <h4 class="text-title">
                        <span>Behind The Scenes</span>
                    </h4>
                    <div class="description" style="display: none"><p>Nullam aliquet vestibulum augue non varius. Cras nec congue elitos. Duis tristique del ante nec aliquam. Praesent urna tellus laoreet an tellus ullamcorper fermentum de cosmopolis facilisis eratum.</p></div>
                    <!-- <a href="#" class="collection-btn btn btn-primary">Shop The Collection</a> -->
                </div>
            </div>
            <!-- Begin Banner #2 -->
            <div class="banner-item">
                <a href="/virtual-tour/">
                    <img src="/product_images/uploaded_images/virtual-tour.jpg" alt="">
                    <div class="hover_collection"></div>
                </a>  
                <div class="collection-title">
                    <h4 class="text-title">
                        <span>Virtual Tour</span>
                    </h4>
                    <div class="description" style="display: none"><p>Nullam aliquet vestibulum augue non varius. Cras nec congue elitos. Duis tristique del ante nec aliquam. Praesent urna tellus laoreet an tellus ullamcorper fermentum de cosmopolis facilisis eratum.</p></div>
                    <!-- <a href="#" class="collection-btn btn btn-primary">Shop The Collection</a> -->
                </div>
            </div>           
        </div>
    </div>
</section>
