<section id="homeTopCustomBlock" class="module-wrapper {{#if theme_settings.halothemes_lazy_loading_effect}}wow fadeIn{{/if}}">
    <div class="container">
        <h2 class="module-heading"><span>Collections</span></h2>
        <div class="fluid-grid">
            <!-- Begin Banner #1 -->
            <div class="banner-item col-lg-3 col-md-4 col-xs-6">
                <a href="/tzitzis/">
                    <img src="/product_images/uploaded_images/tzitzis23.jpg" alt="">
                    <div class="hover_collection">
                        <div class="collection_desc">
                            <h3 class="text-title">
                                <span>Tzitzis <br> Arba Kanfos</span>
                            </h3>
                            <!-- <span>Shop by Size, Material, Type, or Neckline</span> -->
                        </div>
                   </div>
                </a>
                <div class="collection-title">
                    <div class="collection_type">
                        <span>ציצית - ארבע כנפות</span>
                    </div>
                    <a href="/tzitzis/" class="collection-btn">Shop now
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <!-- Begin Banner #2 -->
            <div class="banner-item  col-lg-3 col-md-4 col-xs-6">
                <a href="/tallis-tefillin-bags/">
                    <img src="/product_images/uploaded_images/man-bag-compressor.jpg" alt="">
                    <div class="hover_collection">
                        <div class="collection_desc">
                            <h3 class="text-title">
                                <span>Tallis <br> Tefillin Bags</span>
                            </h3>
                            <!-- <span>Custom Tallis and Tefillin Bags, Design your own bag, Leather, Velvet, Fur, or Mixed</span> -->
                        </div>
                   </div>
                </a>
                <div class="collection-title">
                    <div class="collection_type">
                        <span>טלית - תפילין בייטל</span>
                    </div>
                    <a href="/tallis-tefillin-bags/" class="collection-btn">Shop now
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <!-- Begin Banner #3 -->
            <div class="banner-item  col-lg-3 col-md-4 col-xs-6">
                <a href="/garments/tallis/">
                    <img src="/product_images/uploaded_images/talis-new.jpg" alt="">
                    <div class="hover_collection">
                        <div class="collection_desc">
                            <h3 class="text-title">
                                <span>Tallis</span>
                            </h3>
                           
                        </div>
                   </div>
                </a>
                <div class="collection-title">
                    <div class="collection_type">
                        <span>טלית</span>
                    </div>
                    <a href="/garments/tallis/" class="collection-btn">Shop now
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <!-- Begin Banner #4 -->
            <div class="banner-item  col-lg-3 col-md-4 col-xs-6">
                <a href="/benchers/">
                    <img src="/product_images/uploaded_images/benchers.jpg" alt="">
                    <div class="hover_collection">
                        <div class="collection_desc">
                            <h3 class="text-title">
                                <span>Benchers</span>
                            </h3>
                            <!-- <span>Benchers, Simcha Gifts, Corporate Gifts, Waxberger</span> -->
                        </div>
                   </div>
                </a>
                <div class="collection-title">
                    <div class="collection_type">
                        <span>ברכונים לשמחות</span>
                    </div>
                    <a href="/benchers/" class="collection-btn">Shop now
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <!-- Begin Banner #5 -->
            <div class="banner-item  col-lg-3 col-md-4 col-xs-6">
                <a href="/gifts/kids-gifts/">
                    <img src="/product_images/uploaded_images/kids-gift.jpg" alt="">
                    <div class="hover_collection">
                        <div class="collection_desc">
                            <h3 class="text-title">
                                <span>Children Books <br> Gifts</span>
                            </h3>
                            <!-- <span>Stories, Shabbos Books, KidSlide, Shabbos Music</span> -->
                        </div>
                   </div>
                </a>
                <div class="collection-title">
                    <div class="collection_type">
                        <span>ספרי ילדים</span>
                    </div>
                    <a href="/gifts/kids-gifts/" class="collection-btn">Shop now
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <!-- Begin Banner #6 -->
            <div class="banner-item  col-lg-3 col-md-4 col-xs-6">
                <a href="/shul-items/">
                    <img src="/product_images/uploaded_images/shulw.jpg" alt="">
                    <div class="hover_collection">
                        <div class="collection_desc">
                            <h3 class="text-title">
                                <span>Shul Section</span>
                            </h3>
                            <!-- <span>Parochet for the Aron Kodesh, Torah Mantels, Bein Gavra mantels, Bimah Cover</span> -->
                        </div>
                   </div>
                </a>
                <div class="collection-title">
                    <div class="collection_type">
                        <span>פרוכת לבימה וארון קודש</span>
                    </div>
                    <a href="/shul-items/" class="collection-btn">Shop now
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <!-- Begin Banner #6 -->
            <div class="banner-item  col-lg-3 col-md-4 col-xs-6">
                <a href="/gifts/antique-leather-collection/">
                    <img src="/product_images/uploaded_images/antique-collection-compressor.jpg" alt="">
                    <div class="hover_collection">
                        <div class="collection_desc">
                            <h3 class="text-title">
                                <span>Antique Leather</span>
                            </h3>
                            <!-- <span>Parochet for the Aron Kodesh, Torah Mantels, Bein Gavra mantels, Bimah Cover</span> -->
                        </div>
                   </div>
                </a>
                <div class="collection-title">
                    <div class="collection_type">
                        <span>מוצרי עור</span>
                    </div>
                    <a href="/gifts/antique-leather-collection/" class="collection-btn">Shop now
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <!-- Begin Banner #6 -->
            <div class="banner-item  col-lg-3 col-md-4 col-xs-6">
                <a href="/benchers/siddurim/">
                    <img src="/product_images/uploaded_images/siddurim-collection-compressor.jpg" alt="">
                    <div class="hover_collection">
                        <div class="collection_desc">
                            <h3 class="text-title">
                                <span>Siddurim</span>
                            </h3>
                            <!-- <span>Parochet for the Aron Kodesh, Torah Mantels, Bein Gavra mantels, Bimah Cover</span> -->
                        </div>
                   </div>
                </a>
                <div class="collection-title">
                    <div class="collection_type">
                        <span>סידורים</span>
                    </div>
                    <a href="/benchers/siddurim/" class="collection-btn">Shop now
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
